* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
/*
font-family: 'Rock Salt', cursive; /header
font-family: 'Lato', sans-serif; /paragraph
font-family: 'Inria Sans', sans-serif; /button
*/


body {
	background-color: black;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rock Salt', cursive;
}

.btn {
	font-family: 'Inria Sans', sans-serif;
}

/* start landing */
.container-fluid {
	background-image: url(../images/basketball.jpg);
	background-size: cover;
	height: 80vh;
}

.jumbotron {
	color: #efefef;
	height: 65vh;
	background-color: transparent;
}

.jumbotron > img {
	height: 45vh;
	margin-bottom: 5%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.title {
	background: -webkit-linear-gradient(65deg, #fe25ef 25%, #f44601 65% ,#1625fe 85%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn > a {
	color: #efefef;
	text-decoration: none;
}

/* start of qoutes slideshow*/
/* Slideshow container */
.slideshow-container {
  margin-top: 5%;
  position: relative;
  background: transparent;
  height: 50vh;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  color: #efefef;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: transparent;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
/*end of slideshow*/



/* end landing*/

/*start home page*/
.image-container {
	background-image: url(../images/basketball.jpg);
	background-size: cover;
	position: relative;
	height: 80vh;
}

.cv3 {
	background-color: white;
	color: #333;
	font-size: 10vh;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px;
	width: 50%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: screen;
}

/*breakpoints*/
/*small screen*/
@media only screen and (max-width: 600px) {
	.container-fluid {
		height: 140vh;
		background-image: url(../images/basketball1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
	}

	.jumbotron > img {
		height: 40vh;
	}

	.jumbotron > h1 {
		margin-top: 10%;
	}
}